{
    "ecmaFeatures": {
        "arrowFunctions": true,
        "blockBindings": true,
        "classes": true,
        "defaultParams": true,
        "forOf": true,
        "generators": true,
        "modules": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "restParams": true,
        "spread": true,
        "superInFunctions": true,
        "templateStrings": true
    },

    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },

    "rules": {
        "array-bracket-spacing": [ 2, "always" ],
        "attribute-value-quotes": 2,
        "brace-style": [ 2, "1tbs", { "allowSingleLine": false } ],
        "comma-dangle": 2,
        "comma-spacing": [ 2, { "before": false, "after": true } ],
        "comma-style": [ 2, "last" ],
        "eol-last": 2,
        "eqeqeq": 2,
        "indent": [ 2, 4, { "SwitchCase": 1 } ],
        "linebreak-style": [ 2, "unix" ],
        "max-len": [ 2, 120, 4 ],
        "max-literal-len": [ 2, 80 ],
        "new-cap": [ 2, {
            "newIsCap": true,
            "capIsNew": true,
            "capIsNewExceptions": [
                "Array",
                "Boolean",
                "Ember.A",
                "Number",
                "String"
            ]
        }],
        "newlines": [ 2, {
            "methods": [
                "assert.deepEqual",
                "assert.equal",
                "assert.notDeepEqual",
                "assert.notEqual",
                "assert.notOk",
                "assert.notPropEqual",
                "assert.notStrictEqual",
                "assert.ok",
                "assert.propEqual",
                "assert.strictEqual",
                "assert.throws",
                "Ember.assert",
                "Ember.computed",
                "Ember.observer",
                "Ember.on"
            ],
            "properties": [
                "attributeBindings",
                "classNameBindings",
                "classNames"
            ]
        }],
        "no-caller": 2,
        "no-cond-assign": [ 2, "always" ],
        "no-else-return": 2,
        "no-eval": 2,
        "no-extend-native": 2,
        "no-extra-bind": 2,
        "no-extra-semi": 2,
        "no-multiple-empty-lines": 2,
        "no-trailing-spaces": [ 2, { "skipBlankLines": false } ],
        "no-unreachable": 2,
        "no-unused-vars": [ 2, { "vars": "all", "args": "after-used" } ],
        "no-var": 2,
        "prefer-const": 2,
        "quotes": [ 2, "single", "avoid-escape" ],
        "semi": [ 2, "always" ],
        "semi-spacing": [ 2, { "before": false, "after": true } ],
        "smart-spaces-in-paren": 2,
        "space-before-blocks": [ 2, "always" ],
        "space-before-function-paren": [ 2, "never" ],
        "space-infix-ops": 2,
        "space-unary-ops": [ 2, { "words": true, "nonwords": false } ],
        "spaced-comment": [ 2, "always" ],
        "yoda": [ 2, "always", {
            "onlyEquality": true
        }]
    }
}
